[user]
	email = 37745048+byhowe@users.noreply.github.com
	name = Ömer Faruk Çavuş
	signingkey = C7386DCCA980D849 
[commit]
	gpgsign = true
[init]
	defaultBranch = development
[gpg]
	program = gpg2
[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = delta
[alias]
	lg = log --graph --decorate --oneline --all
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection
[merge]
	conflictstyle = zdiff3
