* {
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-family: "FiraCode Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #dcdfe1;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

#workspaces,
#window,
#tray,
#battery {
    background-color: #0f1b35;
    padding: 4px 6px;
    margin: 6px 6px 0;
    border-radius: 10px;
}

#workspaces button {
    background-color: #574060;
    color: #ffffff;
    border-radius: 10px;
    padding: 2px 4px;
    margin: 0px 2px;
}

#workspaces button.empty {
    background: transparent;
    color: #888888;
}

#workspaces button.active {
    background-color: #ef62a6;
    color: #ffffff;
    border-radius: 10px;
}

#workspaces button.urgent {
    background-color: @red;
    color: #ffffff;
    border-radius: 10px;
}

#workspaces button:hover {
    color: #1e1e2e;
    background-color: #657580;
    border-radius: 10px;
}

#battery:hover {
    background-color: #464b5a;
}
